@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

#menu{
    background-color: #3b2f2f;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#menu a{
    color: #f1f9ec;
    font-size: 22px;
}

#div2 font{
    margin: 10px;
    color: #ed820e;
    font-family: 'playfair display';
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#div3{
    background-image: url(https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
}

#div3 h2{
    font-weight: 800;
    color: white;
    justify-content: center;
    align-items: center;
    
    
}

#div3 p{
    color: white;
    display: flex;
    text-align: center;
}


font{
    margin-top: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background-color:#3b2f2f;
}

.footercontainer{
    margin-top: 3%;
    width: 100%;
    padding: 10px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    text-align: center;
    padding: 5px;
    background-color: white;
    margin: 15px;
    margin-top: 30px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*hover effects on icons*/
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerbottom p{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}